/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background:#2c2c2b !important; }
.main{
  color: #080707;
  border-radius: 3px;
  margin-top: 50px !important;
    margin-bottom: 15px;
      background: #2c2c2b;
      box-shadow: 5px 2px 2px 2px rgba(221, 0, 0, 0.3);
      padding: 30px;
      min-height: 100px;

  }
